
.alice-carousel__dots-item:not(.__custom) {
    background-color: #645d56;
    border-radius: 15px;
}

.alice-carousel__dots-item:not(.__custom):not(:last-child) {
    margin-right: 5px;
}

.alice-carousel__dots-item:not(.__custom):hover {
    background-color: #2b190e;

}

.alice-carousel__dots-item:not(.__custom).__active {
    background-color: #2b190e;
    width: 20px;
}

.alice-carousel__prev-btn, .alice-carousel__next-btn {
    display: none;
}